@color-active: #2da7db;
@color-passive: #94D0E9;
@color-default: #ddd;
@color-condition: #333;
body {
  font: normal 12px 'Open Sans', sans-serif;
}
.wizardBackground(@color, @backgroundColor) {
  color: @color;
  border-bottom: 3px solid @backgroundColor;
}
.wizard {
  display: inline-block;
  height:23px;
  width: 25%-1px;
  float: left;
  margin-left: 1px;
  .wizardBackground(@color-default, @color-default);
  
  &.active {
    .wizardBackground(@color-condition, @color-active);
    
    &:last-child{
      .wizardBackground(@color-condition, transparent);
      background-image: repeating-linear-gradient( -45deg, @color-passive, @color-passive 5px, @color-active 5px, @color-active 10px );
      background-repeat: no-repeat;
      background-position: 0 23px;
      background-size: 1000px 3px;
      animation: anim 1s infinite steps(10,end);
      @keyframes anim {
        100% {
            background-position: -100px 23px;
        }
      }
    }
  }
  &.passive {
    .wizardBackground(@color-condition, @color-passive);
  }
}

.button {
  font-size: 15px;
  padding: 4px 13px;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #2da7db;
  border-radius: 3px;
}