.inputBox .textEditDefault {
  color: #9f9f9f;
  border-width: 1px 1px 1px 1px;
}
.inputBox .manual {
  border-width: 1px 1px 1px 0;
}
.inputBox .manual.first {
  border-width: 1px;
}
.inputBox .manual:focus {
  margin-left: -1px;
  border-width: 1px;
}
